*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.logo{
    vertical-align: middle;
}

.logo-writing{
    font-size: 40px;
    font-weight: 700;
}

.container{
    background-color: white;
    margin: 0% auto;
    max-width: 600px;
    height: 600px;
}

.button1{
    background-color: blue;
    color: white;
}

.button2{
    background-color: white;
    color: grey;
}

.titles{
    font-size: 25px;
    font-weight: 600;
}

.list{
    font-size: 20px;
}

.contenuti{
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.zero{
    background-color:blue ;
}

.one{
    background-color:blue ;
}

.two{
    background-color: blueviolet;
}

.three{
    background-color: darkolivegreen;
}

.four{
    background-color: orangered;
}

.first{
    background-color: pink;
}

.second{
    background-color: green;
}

.third{
    background-color: blue;
}